[user]
    email = tehnerd@tehnerd.com
    name = Nikita V. Shirokov
[color]
    diff = auto
    status = auto
    branch = auto

[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold

[color "branch"]
  remote = green

[color "diff"]
  commit = magenta 
  tag = red
  meta = red


[alias]
    co = checkout
    ci = commit
    br = branch
    up = remote update
    st = status
    tree = log --graph --decorate --pretty=oneline --abbrev-commit -n 100

[credential]
    helper = cache --timeout=3600
[log]
    decorate = full
[color "decorate"]
    tag = red
[core]
    editor = vim
